DATABASE_URL="file:./database.sqlite"
JWT_SECRET=your-secret-key-change-in-production
TELEGRAM_BOT_TOKEN=8758089130:AAG28a56mhd_lSmOC3ePTlkG4mjotFHBqqU
DOMAIN=altdi.ru
YOOKASSA_SHOP_ID=your-shop-id
YOOKASSA_SECRET_KEY=your-secret-key
PORT=3000
NODE_ENV=development
